NEXUS_CMS_BASE_URL=http://localhost:4310
NEXUS_AXIS_BASE_URL=http://localhost:3100
NEXUS_PLATFORM_BASE_URL=http://localhost:4300
NEXUS_ENTERPRISE_CODE=default
NEXUS_DEFAULT_LOCALE=en
NEXUS_CHANNEL=web
NEXUS_CLIENT_CONTRACT_VERSION=1
NEXUS_REQUEST_TIMEOUT_MS=10000
NEXUS_CORPORATE_HOSTS=localhost,127.0.0.1,nodics.in,www.nodics.in
NEXUS_CORPORATE_SITE=nexusCorporateSite
NEXUS_DEV_HOST=0.0.0.0
NEXUS_DEV_PORT=3200
NEXUS_STRICT_PORT=true
NEXUS_BUILD_SOURCEMAP=true
